@import url("https://use.fontawesome.com/releases/v6.5.1/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
body{
  color: lightslategray;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
a{
  color: #2a46ff;
  text-decoration: none;
}
li{
  list-style: none;
}
.container{
  align-items: center;
  background-color: #001f7c38;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 100px;
  position: relative;
  width: 100%;
}
.back-vid{
  bottom: 0;
  mix-blend-mode: lighten;
  position: fixed;
  right: 0;
  z-index: -1;
}
header{
  align-items: center;
  background-color: rgba(255, 255, 255, .123);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 15px #72a1de68;
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 0 30px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}
nav{
  margin-left: 30rem;
} 

header ul {
  display: flex;
  font-size: 30px;
  justify-content: space-around;
  gap: 35px;
  padding: 15px 15px;
}
header ul li{
  list-style: none;
}
header ul a{
  color: white;
  font-weight: 800;
  margin: 0 10px;
  text-decoration: none;
}
.icons{
  display: flex;
  gap: 40px;
}
.icons i {
  align-items: center;
  border: 2px solid #727fde;
  border-radius: 50%;
  color: lightgray;
  display: flex;
  font-size: 20px;
  height: 30px;
  justify-content: center;
  text-decoration: none;
  transition: .3s;
  width: 30px;
}
.icons i:hover{
  background-color: #727fde;
  box-shadow: 0 0 15px #727fde6f;
  color: black;
}
.blackhole-box{
  position: absolute;
  justify-content: center;
  top: 0;
  width: 100%;
  z-index: -1;
}
.blackhole-box video{
  margin-top: -23.5%;
  width: 100%;
}
.hero{
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
.hero-info .hero-info-title{
  background-color: #2200493d;
  border: 1px solid #727fde77;
  border-radius: 50px;
  color: #727fde;
  padding: 8px 5px;
  width: 240px;
}
.hero-info h1{
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 30px;
  margin-top: 40px;
  max-width: 600px;
}
.hero-info p{
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 40px;
  max-width: 550px;
}
.hero-info button{
  background-color: #2200493d;
  border: 1px solid #727fdeb4;
  border-radius: 10px;
  box-shadow: 0 0 5px #727fde86;
  color: #fff;
  cursor: pointer;
  padding: 15px 35px;
  transition: .3s;
}
.hero-info button:hover{
  box-shadow: 0 0 15px #727fde86;
}

/*gradient animation*/
.gradient{
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 2.5s linear infinite;
  background: linear-gradient(to right, #008baa, #7e42a7, #6600c5, #2a46ff, #0099ff, #008ead);
  background-clip: text;
  background-size: 200%;
}
@keyframes animate-gradient{
  to{
    background-position: 200%;
  }
}

.skills-video-box {
  position: absolute;
  right: 3%;
}

.skills-video {
  height: 900px;
  mix-blend-mode: lighten;
}

.scroll-down{
  bottom: 8%;
  border: 2px solid lightgray;
  border-radius: 50px;
  box-shadow: 0 0 15px rgba(255, 255, 255, .626);
  cursor: pointer;
  height: 50px;
  left: 49%;
  position: absolute;
  width: 30px;
}
.scroll-down::before, .scroll-down::after{
  animation: scroll-down 2s ease-in-out infinite;
  border: 2px solid lightgray;
  content: "";
  height: 10px;
  left: 50%;
  position: absolute;
  top: 20%;
  transform: translate(-50%, -100%) rotate(45deg);
  width: 10px;
}
.scroll-down::before{
  animation-delay: .5s;
  top: 30%;
}
@keyframes scroll-down{
  0%{
    opacity: 0;
  }
  30%, 60%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    top: 90%;
  }
}

.info-section{
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 80%;
}
.section-title{
  font-size: 40px;
  font-weight: 700;
}
.info-cards{
  display: grid;
  height: 100%;
  margin-top: 30px;
  gap: 20px;
  grid-template-columns: auto auto auto;
  width: 100%;
}
.card{
  align-items: flex-start;
  background-color: #080020b7;
  border: 1px solid gray;
  border-radius: 20px;
  display: flex;
  height: 55vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  transition: .5s;
  width: auto;
}
.card img{
  height: 50%;
  object-fit: cover;
  width: 80%;
}
.card h1{
  color: lightgray;
  font-size: 25px;
  left: 5%;
  margin: 0;
  position: absolute;
  top: 40%;
  z-index: 1;
}
.card p{
  bottom: 2%;
  color: gray;
  font-size: 13px;
  left: 5%;
  line-height: 20px;
  max-width: 300px;
  position: absolute;
  z-index: 1;
}
.card video{
  height: 50%;
  margin-top: 10%;
  mix-blend-mode: lighten;
  object-fit: cover;
  width: 70%;
}

.card:hover{
  box-shadow:  0 0 15px rgb(211, 211, 211);
}
.card:nth-child(2){
  display: flex;
  flex-direction: column;
}
.card:nth-child(3){
  height: 80vh;
  grid-row: span 2;
}
.card:nth-child(3) p{
  bottom: 2%;
}
.card:nth-child(3) h1{
  bottom: 30%;
}
.card:nth-child(4){
  display: flex;
  flex-direction: column;
  gap: 5px;
  grid-column: span 2;
}
.card:nth-child(4)ul{
  bottom: 50%;
}
.card:nth-child(4)h1{
  margin-bottom: 50%;
}

/* projects*/
.my-projects{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 10%;
  margin-bottom: 700px;
  margin-top: 200px;
  position: relative;
  width: 80%;
}
.project-card{
  align-items: center;
  display: flex;
  height: 40%;
  justify-content: center;
  gap: 10%;
  width: 100%;
}
.project-vidbox{
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  min-width: 400px;
  mix-blend-mode: difference;
  position: relative;
  transition: .5s;
  width: 50%;
}
.project-vidbox video{
  border-radius: 20px;
  box-shadow: 0 0 10px lightgray;
  object-fit: cover;
  transition: .5s;
  width: 100%;
}
.project-vidbox video:hover{
  box-shadow: 0 0 20px lightgray;
}
.project-info{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  width: 50%;
}
.project-info h1{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 0;
  max-width: 450px;
  text-wrap: nowrap;
  width: 90%;
}
.project-info p{
  margin-top: 0;
  margin-bottom: 50px;
  max-width: 400px;
  min-width: 300px;
  width: 90%;
}

.skills-section{
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
.skills-box{
  align-items: start;
  display: flex;
  height: 90vh;
  justify-content: center;
  position: relative;
  width: 100%;
}
.skills-box ul{
  font-weight: 400;
  line-height: 2.5;
  list-style: none;
}
.skills-img{
  mix-blend-mode: lighten;
  opacity: .7;
  width: 70%;
}
.skills{
  align-items: start;
  display: flex;
  flex-direction: column;
  left: 5%;
  max-width: 30%;
  position: absolute;
  top: 25%;
}
.skills1{
  align-items: start;
    display: flex;
    flex-direction: column;
    max-width: 30%;
    position: absolute;
    right: 5%;
    top: 25%;
}
.skills-box h1{
  align-items: center;
  display: flex;
  font-size: 50px;
}
.skills-box p{
  line-height: 23px;
}

.contact-section{
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  gap: 10%;
  position: relative;
  width: 80%;
}
.contact-section h1{
  left: 40%;
  position: absolute;
  top: 10%;
}
.social-box{
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.social-box i{
  color: #727fde;
  font-size: 30px;
  margin-right: 10px;
}
.social-icons a{
  color: white;
  margin-top: 40px;
}
footer{
  align-items: center;
  background-color: rgba(255, 255, 255, .128);
  backdrop-filter: blur(10px);
  bottom: 0;
  box-shadow: 0 0 15px rgba(255, 255, 255, .356);
  display: flex;
  height: 70px;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 999;
}
footer h1{
  font-size: 30px;
}

.menu-icons{
  cursor: pointer;
  display: none;
  font-size: 30px;
}
/*sidebar*/
.sidebar{
  background-color: #000000b8;
  backdrop-filter: blur(10px);
  border-bottom-left-radius: 100%;
  bottom: 70%;
  box-shadow: 0 0 20px rgba(211, 211, 211, .411);
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 0%;
  z-index: 999;
}
.close-icon{
  color: lightgray;
  cursor: pointer;
  font-size: 50px;
  padding-left: 10px;
}
.sidebar ul{
  padding: 20px;
}
.sidebar ul li{
  margin-bottom: 30px;
}
.sidebar ul li a{
  color: lightgray;
  font-size: 30px;
  font-weight: 900;
  text-shadow: 0 0 15px rgba(128, 128, 128, .256);
}
.sidebar .icons{
  margin-top: 60px;
  padding-left: 20px;
  text-wrap: nowrap;
}
.sidebar .icons a{
  cursor: pointer;
  font-size: 35px;
  padding: 5px 5px;
}

/*Open sidebar animation*/
.sidebar .open-sidebar{
  animation: openSideBarAnimation 1.5s forwards;
}
@keyframes openSideBarAnimation{
  to{
    bottom: 0;
    opacity: 1;
    width: 80%;
  }
}
/* Blur Effect */

.autoBlur{
  animation: autoBlurAnimation linear both;
  animation-timeline: view();
}
@keyframes autoBlurAnimation{
  0%{
    filter: blur(40px);
    opacity: 0;
  }
  35%, 65%{
    filter: blur(0);
    opacity: 1;
  }
  100%{
    filter: blur(40px);
    opacity: 0;
  }
}

.autoDisplay{
  animation: autoDisplayAnim both;
  animation-timeline: view();
}
@keyframes autoDisplayAnim{
  from{
    filter: blur(10px);
    opacity: .2;
    transform: translateY(-200px) scale(0);
  }
  50%{
    filter: blur(0);
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInRight{
  animation: fadeInAnimation both;
  animation-timeline: view();
}
@keyframes fadeInAnimation{
  0%{
    filter: blur(20px);
    opacity: 0;
    transform: translateX(-500px) scale(.2);
  }
  35%, 65%{
    filter: blur(0);
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
  100%{
    filter: blur(20px);
  }
}

/*Responsiveness*/

@media (max-aspect-ratio: 16/9){
  .back-vid{
    height: 100%;
    width: auto;
  }
}
@media (min-aspect-ratio: 16/9) {
  .back-vid {
    height: auto;
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .blackhole-box video{
    margin-top: -20%;
  }
    .hero-info h1 {
      font-size: 40px;
      max-width: 400px;
      line-height: 40px;
    }
  
    .hero-info P {
      max-width: 300px;
    }
  
    .skills-video-box {
      right: 0%;
    }
  
    .skills-video-box video {
      height: 500px;
    }
  
    .info-cards {
      grid-template-columns: auto;
    }
  
    .card:nth-child(3) {
      grid-column: span 2;
      height: 70vh;
    }
  
    .info-cards .card h1 {
      font-size: 20px;
    }
  
    .info-cards .card:nth-child(3) h1 {
      bottom: 25%;
    }
  
    .card video {
      height: 60%;
      margin-top: 5%;
    }
  
    .my-project {
      margin-bottom: 200px;
      scale: 0.8;
    }
  
    .contact-section .section-title {
      left: 30%;
    }
    }
  
    @media screen and (max-width: 700px) {
      header {
        height: 50px;
        position: fixed;
      }
  
      header ul {
        display: none;
      }
  
      header .box-icons {
        display: none;
      }
  
      .menu-icon {
        display: inline;
      }
  
      .blackhole-box video {
        width: 100%;
        margin-top: -15%;
      }
  
      .autoBlur {
        animation: none;
      }
  
      .hero {
        flex-direction: column;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
  
      }
  
      .hero-info {
        bottom: 5%;
      }
  
      .scroll-down {
        bottom: 5%;
      }
  
      .hero .skills-video-box {
        height: 200px;
        top: 5%;
      }
  
  
  
      .info-cards {
        grid-template-columns: auto;
      }
  
      .card:nth-child(3) {
        grid-column: span 2;
        height: 70vh;
      }
  
      .card video {
        width: 100%;
      }
  
      .container {
        height: 100%;
      }
  
      .project-vidbox video {
        width: 250px;
        margin-left: -100px;
      }
  
      .project-info {
        overflow: hidden;
        padding-left: 0;
        margin-left: -50px;
      }
  
      .project-info h1 {
        font-size: 20px;
        max-width: 200px;
        text-wrap: wrap;
      }
  
      .project-info p {
        font-size: 10px;
        text-wrap: wrap;
        max-width: 200px;
        min-width: 0;
      }
  
      .project-info button {
        padding: 5px 10px;
      }
  
      .my-project {
        margin-bottom: 600px;
      }
  
      .project-card {
        flex-direction: column;
        margin-left: 25%;
        gap: 30px;
      }
  
      .project-vidbox {
        min-width: 200px;
      }
  
      .project-info {
        width: 85%;
      }
  
      .project-info h1 {
        text-wrap: nowrap;
      }
  
      .project-info p {
        max-width: 300px;
      }
  
      .skills {
        top: 15%;
        left: 18%;
      }
  
      .skills h1 {
        margin-bottom: 0;
        margin-top: 70px;
      }
  
      .skills1 {
        top: 50%;
        left: 18%;
      }
  
      .skills1 h1 {
        margin-bottom: 0;
      }
  
      .slider .list .item img {
        width: 70%;
      }
  
      .contact-section {
        flex-direction: column;
        margin-top: 100px;
        margin-bottom: 50px;
      }
  
      .footer {
        font-size: 10px;
      }
  
      .social-box {
        margin-left: -90px;
      }
    }
  
  
    @media screen and (max-width: 480px) {
  
      .hero .skills-video-box {
        display: none;
      }
  
      .blackhole-box {
        overflow: hidden;
      }
  
      .blackhole-box video {
        width: 140%;
        margin-top: -27%;
  
      }
  
      .left {
        scale: 0.9;
        margin-left: -30px;
      }
  
      .left h2 {
        font-size: 20px;
      }
  
      .hero {
        scale: 0.9;
      }
  
      .hero-info {
        bottom: 15%;
      }
  
      .hero-info h1 {
        font-size: 35px;
      }
  
      .scroll-down {
        bottom: 15%;
        left: 60%;
      }
  
      .section-title {
        font-size: 25px;
      }
  
      .info-cards {
        display: flex;
        flex-direction: column;
      }
  
      .card {
        min-height: 20rem;
      }
  
      .card h1 {
        bottom: 30%;
        font-size: 5px;
      }
  
      .project-card {
        height: 50%;
      }
  
      .project-info p {
        margin-bottom: 15px;
      }
  
      .project-info {
        margin-left: -80px;
      }
  
      .skills-box {
        height: 120vh;
        margin-right: 30px;
      }
  
      .slider {
        bottom: 0%;
      }
  
      .contact-section {
        scale: 0.9;
        height: 120vh;
      }
  
      .contact-section .section-title {
        top: -30px;
        left: 25%;
      }
  
      .footer {
        padding: 15px;
      }
  
      .footer h1 {
        max-width: 150px;
      }
  
      .footer .icons {
        gap: 10px;
      }
}